body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 230px;
    height: 400px;
    width: 40vw;
    min-width: 200px;
    padding: 20px 15px;
    margin: 50px auto 25px;
    box-shadow: 1px 1px 3px 1px rgba(17, 0, 0, 0.1);
    border-radius: 5px;
   
}
#mic {
    width: 200px;
    padding: 7px;
    margin: 2%;
    padding-top: 2px;
    font-size: 15px;
}
#tic {
    width: 200px;
    padding: 7px;
    margin: 2%;
    padding-top: 2px;
    font-size: 15px;

}
#gigga {
    margin: 50px;
    padding: 0%;
    text-decoration: none;
    font-size: 15px;
    
}
#miga {
    width: 240px;
    height: 28px;
    border: none;
    border-radius: 20px;
    background-color: #036ba3;
    
}
#select {
    text-align: center;
}
#habit {
    text-decoration: none;
    
}
#by {
    font-size: 70%;
    margin: 10px;
    padding-left: 10%;
    text-decoration: none;
    color: palevioletred;
    
}
.butt {
    margin: 10px;
   
}
#close {
    text-decoration: none;
}
#open {
    width: 200px;
    
 
    

    
}
